<header class="bloghead">
    <dev class="authorheader">
        <a href="/">
            <img alt="My Avatar" src="../_assets/img/header.jpg"/>
        </a>
        <dev class="blogtitle">
            <h1><a href="/">{{ site.data.blog.title }}</a></h1>
            <h5> {{ site.data.blog.description }} </h5>
        </dev>
    </dev>

    <nav class="menu" role="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li>|</li>
            <li><a href="/menu.html">Blog</a></li>
            <li>|</li>
            <li><a target="_blank" href="https://blog.csdn.net/weixin_45833112">CSDN</a></li>
            <li>|</li>
            <li><a target="_blank" href="/about.html"> About Me</a></li>
        </ul>
    </nav>
</header>
